@charset "utf-8";

* {
    margin:0;
    padding:0;
}

iframe {
    width: 100%;
    margin-bottom: -70px;
}

body {
    background-color: #00688B;
    height: 100%;
}

header a{
    width: 100%;
    height: 10vh;
    font-size: 100px;
    font-family: Chiller, serif;
    color: #000000;
    font-weight: bolder;
    text-align: center;
    background-color: #800080;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}

header a:hover {
    background-color: #000000;
    color: #800080;
}

article {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

section {
    height: 70vh;
    line-height: 1;
    background-color: #ccccff;
}

section tr {
    font-family: Chiller, serif;
    margin:5px;
    font-size:40px;
}

section td {
    padding-bottom: 0.5em;
}

section .field-name {
    font-weight: bold;
    color:#000000;
}

section .field-value {
    color: #800080;
}

section img{
    width:220px;
    height: 220px;
    float:left;
    margin-right: 10px;
}

aside {
    background-color: #ffccff;
    width: 350px;
    float: right;
    background-size: cover;
}

aside ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70vh;
    text-align: center;
    list-style: none;
}

aside .title{
    color:#800080;
    font-weight: bold;
    line-height: 1.3;
    text-decoration: none;
}

aside a{
    font-weight: bold;
    font-size: 12px;
    color: #000000;
}

footer table {
    width: 100%;
    height: 20vh;
    line-height:2;
    background-color: #800080;
    margin-top: 20px;
    float:left;
}

footer table h3{
    font-weight:bold;
    padding-right:-30px;
    display: flex;
    justify-content: space-around;
    color: #000000;
    text-decoration: none;
}

footer table tr {
    width:33.333%;
}

footer table a{
    color: #000000;
    display: flex;
    justify-content: space-around;
}

form {
    padding: 20px;
}

form span {
    color: #800080;
    font-weight: bold;
}

@media only screen and (max-height: 1200px) {

    header a{
        width: 100%;
        height: 10vh;
        font-size: 60px;
        font-family: Chiller, serif;
        color: #000000;
        font-weight: bolder;
        text-align: center;
        background-color: #800080;
        text-decoration: none;
        display: flex;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 1200px) {
    section tr {
        font-family: Chiller, serif;
        font-size:30px;
    }
}

@media only screen and (max-width: 1000px) {
    aside {
        display: none;
    }
}

@media only screen and (max-width: 300px) {
    section img {
        display: none;
    }
}